<section class="quem-somos">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        </div>

      <div class="container">
        <img src="assets/images/academia.jpg" alt="Descrição da imagem">
        <div class="text-overlay">
          <h2 class="quem-somos-title">Quem Somos</h2>
          <p class="quem-somos-description">Na nossa academia, estamos comprometidos em ajudar você a atingir seus objetivos de condicionamento físico e saúde. Nossa equipe de instrutores altamente qualificados está aqui para oferecer treinamento personalizado, orientação e motivação para ajudá-lo a ter sucesso.</p>
        </div>
        
      </div>
    </div>
  </div>
</section>