<th scope="col"> Sexta </th>

<tbody>
    <tr>
        <th scope="row"> 07:00 </th>
        <td> Marcos Rocha</td>
        <td> Ana Paula</td>
        <td> Marcos Rocha</td>
        <td> Marcos Rocha</td>
        <td> Ana Paula</td>
    </tr>

    <tr class="table-warning">
        <th scope="row"> 08:00</th>
        <td> Marcos Rocha</td>
        <td> Ana Paula</td>
        <td> Marcos Rocha</td>
        <td> Marcos Rocha</td>
        <td> Ana Paula</td>
    </tr>

    <tr>
        <th scope="row"> 09:00 </th>
        <td> Ana Paula</td>
        <td> Ana Paula</td>
        <td> Marcos Rocha</td>
        <td> Ana Paula</td>
        <td> Ana Paula</td>
    </tr>

    <tr class="table-warning">
        <th scope="row"> 10:00</th>
        <td> Rogério</td>
        <td> Ana Paula</td>
        <td> Rogério</td>
        <td> Marcos Rocha</td>
        <td> Ana Paula</td>
    </tr>
</tbody>